<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h2>Adicionar Links</h2>
    <form action="/add" method="post">
        <input type="text" placeholder="title">
        <input type="text" placeholder="description">
        <input type="text" placeholder="url">
        <input type="submit" value="submit">
    </form>
</body>
</html>